[Unit]
Description=Gunicorn server for silly-walks.org

[Service]
Restart=on-failure
User=deploy
WorkingDirectory=/home/deploy/sites/silly-walks.org/source
ExecStart=/home/deploy/sites/silly-walks.org/virtualenv/bin/gunicorn \
    --bind unix:/home/deploy/run/silly-walks.org.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
